@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
:root{
    --themeColor:rgb(235, 61, 235);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: displayNone;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
}
@keyframes displayNone{
   100%{
    display: none;
   } 
}
.loding_animation_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1.5px solid white;
    border-radius: 50%;
    /* background-color: var(--themeColor); */
     animation:loading 2s infinite forwards linear ;

    background:conic-gradient(transparent ,transparent,transparent ,var(--themeColor) 90% 270%  )   

}
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loding_animation_parent{
    height: 80%;
    width: 80%;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
} 

.homePage{
    height: 100vh;
    width: 100%;
    padding: 4vh 7vw;
    background: linear-gradient(235deg,rgb(12, 12, 12),rgba(7, 1, 36, 0.92));
    /* display: none; */
    visibility: hidden;
    animation-name: screenDelay;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    animation-delay: 5s;
    animation-iteration-count: 1;
}

@keyframes screenDelay {
    100%{
        /* display: inline-block; */
        visibility: visible;
    }
}



/* A section 1 */
/* main nav bar */

.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;
    width: 100%; */
}
.mainNav h2{
    color: white;
     transition: transform 0.3s;
     font-weight: 700;
     letter-spacing: 1.2px;

}
.mainNav h2:hover{
    color: var(--themeColor);
    transform: scale(1.2);
}
.mainNav .ul{
display: flex;
justify-content: center;
column-gap: 25px;
font-weight: bold;
font-size: 17px;
}
.mainNav .ul li{
    list-style: none;
}
/* .mainNav .ul li:nth-child(1) a{
    color: var(--themeColor);
    transform: scale(1.2);
} */
.mainNav .ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: transform 0.3s;
}
.mainNav .ul li:nth-child(1) a{
    color: var(--themeColor);
    transform: scale(1.2);  
}
.mainNav .ul li a:hover{
    color: var(--themeColor);
    transform: scale(1.2);
}
.mainNav .dropdown{
    display: none;
}

.mainNav .dropdown li a:hover{
    color: var(--themeColor);
    font-weight: 700;
}

@media only screen and (max-width:800px){
 .mainNav h2{
     font-size: 24px;

}
.mainNav .ul{
column-gap: 15px;
font-weight: bold;
font-size: 15px;
}  
}

@media only screen and (max-width:650px){
.mainNav .ul{
column-gap: 13px;
font-weight: bold;
font-size: 12px;
}  
}

@media only screen and (max-width:550px){
 .mainNav h2{
     font-size: 26px;
}
.mainNav .ul{
display: none;
}
.mainNav .dropdown{
    display: block;
}  
.mainNav .dropdown img{
    width: 18px;
}
.mainNav .dropdown .btn{
    height: 26px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainNav .dropdown .btn:hover{
    background-color: var(--themeColor);
}

}

/* HomePage section 2 */

.aSection2{
    width: 100%;
    height: 55vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20vh;
}   
.aSection2 .myIntroContainer{
    width: 60%;
    color: white;
}
.myIntroContainer h1{
    font-size: 40px;
    font-weight: 700;
}
.myIntroContainer .introLine{
    font-size: 24px;
    font-weight: 700;
    display: flex;
}




.myIntroContainer .introLine span{
    color: transparent;
    -webkit-text-stroke: 0.7px var(--themeColor);
    font-weight: 800;
    letter-spacing: 1.5px;
    position: relative;
    animation:color linear infinite;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    /* background-color: var(--themeColor);
    -webkit-background-clip: text; */
}
@keyframes color {
    0%{
      
    }
    100%{
    color: var(--themeColor);
    }
}
.myIntroContainer .introLine span::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    border: 1.5px solid white;
    animation:colorBharneWala linear infinite;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    display: inline-block;
    left: 0px;
    
}
@keyframes colorBharneWala {
    100%{
        left: 100%;
    }
}
.myIntroContainer .buttonAncarConatiner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.myIntroContainer .buttonAncarConatiner button{
    padding:5px 10px;
    /* height: 50px; */
    border: 2px solid var(--themeColor);
    background-color: var(--themeColor);
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 1px 30px 5px var(--themeColor);
}




.myIntroContainer .buttonAncarConatiner button:hover{
    box-shadow: 0px 1px 30px 10px var(--themeColor);
}
.aSection2 .myIntroContainer a img{
    width:30px;
    margin-left:10px; 
    transition: transform 0.2s;
}

.aSection2 .myIntroContainer a img:hover{
    border: 2px solid var(--themeColor);
    border-radius: 50px;
    transform: scale(1.2);
}
.aSection2 .myImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid  transparent;
    /* background-color: red; */
    border-radius: 50%;
    width: 330px;
    /* height: 100%; */
    height: 330px;
    padding: 4px; 
    position: relative;
    overflow: hidden;
    align-self: center;
}
.aSection2 .myImageContainer::before,
.aSection2 .myImageContainer::after
{
    content: '';
    position: absolute;
    height: 400px;
    width: 400px;
    background: conic-gradient(transparent 0deg 90deg,
    var(--themeColor),
    transparent 180deg 270deg,
    var(--themeColor));  
    animation-name: borderMoving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}
@keyframes borderMoving {
    0%{
        transform: rotate(0deg);
        /* transform-origin: top; */
    }
    100%{
        transform: rotate(360deg);
        /* transform-origin: top; */
    }
}
.myImageParent{
    border: 2px solid transparent;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 30px;
    background-color:rgb(12, 12, 12);
    position: relative;
    z-index: 1;
}
.aSection2 .myImageContainer img{
height: 100%;
}

  


    @media only screen and (max-width: 1000px) and (max-height:1400px){
        .aSection2{
            margin-top:10vh;
            flex-direction: column;
            max-height:55vh;
            align-items: flex-start;
            /* gap: 35px; */
            

        }   
        .aSection2 .myIntroContainer{
            width: 90%;
            /* height: 45%; */
            /* margin-bottom: 15px; */
        
        }
        .aSection2 .myImageContainer{
            width: 320px;
            height: 320px;
        }
        .myIntroContainer h1{
            font-size: 35px;
            font-weight: 700;
        }
        .myIntroContainer .introLine{
            font-size: 22px;
            font-weight: 700;
            display: flex;
        }
        .myIntroContainer .introLine span{
            -webkit-text-stroke: 0.5px var(--themeColor);
            font-weight: 800;
            letter-spacing: 1.4px;
            position: relative;
            animation:color linear infinite;
            animation-duration: 5s;
            animation-fill-mode: backwards;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
        .myIntroContainer .para{
            font-size: 18px;
        }
        .myIntroContainer .buttonAncarConatiner{
            gap: 18px;
        }
        .myIntroContainer .buttonAncarConatiner button{
            padding:4px 8px;
            font-size: 12px;
            font-weight: 600;
            box-shadow: 0px 1px 30px 5px var(--themeColor);
        }
        .aSection2 .myIntroContainer a img{
            width:30px;
            margin-left:8.5px; 
            transition: transform 0.2s;
        }
        
        }


 @media only screen and (max-width: 800px) and (max-height:1400px){
        .aSection2{
            margin-top:15vh;
            flex-direction: column;
            min-height:65vh;
            align-items: flex-start;
            /* gap: 35px; */
            

        }   
    }   



@media only screen and (max-width: 950px) and (max-height:1000px){
    .aSection2{
        margin-top:17vh;
    }   
    .aSection2 .myIntroContainer{
        width: 55%;
    }
    .aSection2 .myImageContainer{
        width: 270px;
        height: 270px;
    }
    .myIntroContainer h1{
        font-size: 30px;
        font-weight: 600;
    }
    .myIntroContainer .introLine{
        font-size: 20px;
        font-weight: 600;
        display: flex;
    }
    .myIntroContainer .introLine span{
        -webkit-text-stroke: 0.4px var(--themeColor);
        font-weight: 700;
        letter-spacing: 1.3px;
        position: relative;
        animation:color linear infinite;
        animation-duration: 5s;
        animation-fill-mode: backwards;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }
    .myIntroContainer .para{
        font-size: 15px;
    }
    .myIntroContainer .buttonAncarConatiner{
        gap: 16px;
    }
    .myIntroContainer .buttonAncarConatiner button{
        padding:3px 7px;
        font-size: 11px;
        font-weight: 500;
        box-shadow: 0px 1px 30px 5px var(--themeColor);
    }
    .aSection2 .myIntroContainer a img{
        width:25px;
        margin-left:8.5px; 
        transition: transform 0.2s;
    }
    
    }

/*  media queries at less then 780 px */

    @media only screen and (max-width: 780px) and (max-height:1000px){
        .aSection2{
            margin-top:10vh;
            flex-direction: column;
            min-height:72vh;
            align-items: flex-start;
            /* gap: 35px; */
            

        }   
        .aSection2 .myIntroContainer{
            width: 100%;
            /* height: 45%; */
            /* margin-bottom: 15px; */
        
        }
        .aSection2 .myImageContainer{
            width: 270px;
            height: 270px;
        }
        .myIntroContainer h1{
            font-size: 35px;
            font-weight: 600;
        }
        .myIntroContainer .introLine{
            font-size: 23px;
            font-weight: 600;
            display: flex;
        }
        .myIntroContainer .introLine span{
            -webkit-text-stroke: 0.4px var(--themeColor);
            font-weight: 700;
            letter-spacing: 1.3px;
            position: relative;
            animation:color linear infinite;
            animation-duration: 5s;
            animation-fill-mode: backwards;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
        .myIntroContainer .para{
            font-size: 16px;
        }
        .myIntroContainer .buttonAncarConatiner{
            gap: 16px;
        }
        .myIntroContainer .buttonAncarConatiner button{
            padding:3.5px 7.5px;
            font-size: 12.5px;
            font-weight: 500;
            box-shadow: 0px 1px 30px 5px var(--themeColor);
        }
        .aSection2 .myIntroContainer a img{
            width:28px;
            margin-left:8.5px; 
            transition: transform 0.2s;
        }
        
        }
    



        @media only screen and (max-width: 780px) and (max-height:800px){
        .aSection2{
            margin-top:10vh;
            flex-direction: column;
            min-height:78vh;
            align-items: flex-start;
            /* gap: 35px; */
            

        }   
        .aSection2 .myIntroContainer{
            width: 95%;
            /* height: 45%; */
            /* margin-bottom: 15px; */
        
        }
        .aSection2 .myImageContainer{
            width: 240px;
            height: 240px;
        }
        .myIntroContainer h1{
            font-size: 28px;
            font-weight: 600;
        }
        .myIntroContainer .introLine{
            font-size: 18px;
            font-weight: 600;
            display: flex;
        }
        .myIntroContainer .introLine span{
            -webkit-text-stroke: 0.4px var(--themeColor);
            font-weight: 600;
            letter-spacing: 1.2px;
            position: relative;
            animation:color linear infinite;
            animation-duration: 5s;
            animation-fill-mode: backwards;
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
        .myIntroContainer .para{
            font-size: 12px;
            line-height: 16px;
        }
        .myIntroContainer .buttonAncarConatiner{
            gap: 16px;
        }
        .myIntroContainer .buttonAncarConatiner button{
            padding:2.5px 6.5px;
            font-size: 10px;
            font-weight: 500;
            box-shadow: 0px 1px 30px 5px var(--themeColor);
        }
        .aSection2 .myIntroContainer a img{
            width:22px;
            margin-left:8.5px; 
            transition: transform 0.2s;
        }
        
        }
